$purple: #352541;
@import '../../../../../smart-grid/smart-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway');

.slider {
  background: url("../images/slider4.jpg");
  background-color: rgba(255, 255, 255, 0.6);
  size: 100vw 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  //clip-path: polygon(0 92%, 100% 100%, 100% 0, 0 0);
}

.slider_logo {
  &__block {
    text-align: center;
    color: white;

    &-big {
      display: inline-flex;
      position: relative;
      height: 24vh;
      font: {
        size: 24vh;
        family: 'Patua One', cursive;
      }

      * {
        top: 0;
        left: 0;
        position: relative;
        animation-timing-function: ease;
      }

      :nth-child(1) {
        animation-name: move1;
        animation-duration: 1s;
      }

      :nth-child(2) {
        animation-name: move2;
        animation-duration: 3s;
      }

      :nth-child(3) {
        animation-name: move3;
        animation-duration: 2s;
      }

      :nth-child(4) {
        animation-name: move4;
        animation-duration: 2s;
      }

      :nth-child(5) {
        animation-name: move5;
        animation-duration: 3s;
      }
    }

    &-small {
      font: {
        size: 5vh;
        family: 'Raleway', sans-serif;
      }
      margin-top: 2vh;
      animation-name: opacity;
      animation-duration: 5s;

      &::before {
        content: '';
        display: block;
        size: 50% 2px;
        background: rgba(white, 0.5);
        margin: 0 auto 2vh;
        position: relative;
      }
    }
  }
}
@keyframes move1 {
  0% {
    top: -159%;
    left: -34%;
  }
}
@keyframes move2 {
  0% {
    top: 110%;
    left: -45%;
  }
}
@keyframes move3 {
  0% {
    top: -140%;
    left: 10%;
  }
}
@keyframes move4 {
  0% {
    top: 110%;
    left: 35%;
  }
}
@keyframes move5 {
  0% {
    top: -112%;
    left: 43%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
