$purple: #352541;
@import '../../../../../smart-grid/smart-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@mixin responsive($prop, $lg, $md:$lg, $sm:$md, $xs:$sm) {
  #{$prop}: $lg;
  @include lg($prop, $lg);
  @include md($prop, $md);
  @include sm($prop, $sm);
  @include xs($prop, $xs);
}
.we_offer_row {
  @include row-flex();
  padding-top: 20px;
  justify-content: space-between;
  width: 85%;
  position: relative;
  margin: auto;
  @include xs(justify-content, center);

  &__block {
    @include size(4);
    @include size-md(5.7);
    @include size-xs(12);
    margin: 30px 0;
  }

  &__image {
    border: 2px solid $purple;
    background-color: white;
    size: 100% 100px;

    &_text {
      margin-top: 20px;
      width: 100%;
      position: relative;
      background-color: $purple;
      color: white;
      padding: 7px 0;
      @include responsive(font-size, 20px, 20px, 19px);
      text-align: center;
    }
  }
}

#we_offer {
  background: url("../images/we_offer.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  padding: 40px 0;
}

#to_know_more {
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
    border: 2px solid $purple;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    color: $purple;
    font-size: 130%;
    @include responsive(font-size, 30px, 28px, 25px, 22px);

    &:hover {
      background-color: #f1a5f1;
    }
  }
}

#we_offer {
  background:url('../images/we_offer.jpg');
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 0;
  padding: 40px 0;
  margin-top: 60px;
}
