$purple: #352541;
@import '../../../../../smart-grid/smart-grid.scss';

.we_offer_row {
  @include row-flex();
  padding-top: 20px;
  justify-content: space-between;
  width: 85%;
  position: relative;
  margin: auto;
  @include xs(justify-content, center);

  &__block {
    @include col();
    @include size(4);
    @include size-md(5);
    @include size-xs(12);
  }

  &__image {
    border: 2px solid $purple;
    background-color: white;
    size: 100% 100px;

    &_text {
      margin-top: 20px;
      width: 100%;
      position: relative;
      background-color: $purple;
      color: white;
      padding: 7px 0;
      font-size: 16px;
      text-align: center;
    }
  }
}

#we_offer {
  background: url("../images/we_offer.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  padding: 40px 0;
}

#to_know_more {
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
    border: 2px solid $purple;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.7% 3%;
    color: $purple;
    font-size: 130%;

    &:hover {
      background-color: #f1a5f1;
    }
  }
}
